ul{
    list-style: none;
    padding: 0px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
section{
    width: 100%;
}
main{
    width: 50%;
    margin: 0 auto;
    background-color: bisque;
    padding: 2rem 8rem;
}
.info-box{
    display: flex;
    flex-direction: row;
    gap: .8rem;
    
}
input{
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    border: none;

}
button{
    padding: .5rem 2rem;
    border: none;
    background-color: rgb(134, 134, 245);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
li{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: .5rem;
    background-color: rgb(166, 245, 166);
    border-radius: 5px;
    align-items: center;
}
.dlt{
    padding: .5rem;
    border-radius: 20%;
    background-color: #fff;
    cursor: pointer;
}
h1{
    text-align: center;
}
.btngrp{
    display: flex;
  align-items: center;
  gap: 1rem;
}
.btngrp i{
  background: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.btngrp i:first-child{
color: rgb(134, 134, 245);;
}
.btngrp i:last-child{
    color: red;
}
.btngrp i:nth-child(2){
    color: rgb(234, 191, 22);
}
.inputvalBox{
    background: rgb(166, 245, 166);;
}
.line{
    text-decoration: line-through;
}
.child1{
    display: flex;
  gap: .5rem;
}
.child2{
    display: flex;
    gap: .8rem;
}

input[type='checkbox']{
    width: 20px;
}
.id{
    font-size: 18px;
    font-weight: bolder;
}
